body {
 
    margin: 0;
    background-color: rgb(246, 255, 241);
}
.botoes{
    display: flex;
    justify-content: space-evenly;
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 51, 53);
    width: auto; 
    height: 40px;
    font-family: "Arial";
    font-size: 20px;
    padding-top: 20px;
    margin: 0 auto;

}
h2{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: "Arial";
    font-size: 20px;
}
#botao1{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#botao2{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#botao3{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#botao4{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#botao5{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}